/* CSS Document */

body {
	background-color: #f4f4f4;
	color: black;
	text-family
 	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.weather-panel {
	font-family: sans-serif;
	position: center center;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	text-align: center;
	padding-top: 50px;
	font-size: 40px;
	background-size: cover;
} 
.weather-panel .time-panel {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}

.weather-panel .mini-panel {
    font-family: sans-serif;
	display: inline-block;
	padding: 17px 27px;
	
}
.weather-panel .mini-panel img {
	width: 10%;
	display: inline-block;
}
.weather-panel .mini-panel .temperature-panel {
	display: inline-block;
}

.item-panel
{
	font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
}

.item-panel ul li {
    display: inline-block;
	margin-right: auto;
	margin-left: auto;
	
/*
	margin-bottom: 40px;
	margin-right: 0px;
	padding-top: 0em;
	column-gap: 0em;
	padding-bottom: 0em;
	padding-right: 0px;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
*/
}
.item-panel ul li img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
	width: auto;
}

